/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 févr. 2016, 13:08:48
    Author     : tayeb
*/

body {
    background: #252525;
    font-family: 'Open Sans';
    font-weight: 300;
}
.main {
    background: rgba(234, 234, 234, 1);
    background-size: contain;
    padding: 80px 100px 100px;
    margin-top: 120px;
}
@media only screen and (max-width : 992px) {
    .main {
        background: white;
        margin-top: 30px;
    }
}
h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #555;
    margin-bottom: 0;
}
h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #999;
    font-size: 18px;
    margin-top: 5px;
}
form {
    margin-top: 60px;
}
input.form-control , input[type="submit"] , .btn {
    border-radius: 0px;
}
.loginColumn {
    padding: 0 20px 0 20px;
}

.loginColumn > input {
    margin-top: 10px;
}


.btn {
    transition: all ease-in-out 0.2s;
}
.credits {
    margin-top: 100px;
    color: #999;
    font-size: 12px;
}
.credits a {
    color: inherit;
}

.actionfooter > div {
    text-align: center;
}

